.login-bg {
  background: url("../images/index/bg.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
}

.g-login {
  margin: -117.5px 0 0 -175px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 350px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}

.g-login .title {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3px;
  background: url("../images/index/title.png");
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.g-login .user,
.g-login .pwd {
  display: block;
  padding-left: 30px;
  margin: 10px auto;
  width: 90%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
}

.g-login .user {
  background: url("../images/index/icons.png") no-repeat 5px 8px;
  background-size: 20px;
}

.g-login .pwd {
  background: url("../images/index/icons.png") no-repeat 5px -105px;
  background-size: 20px;
}

.g-login .button-group {
  position: relative;
  left: -20px;
  width: 390px;
  height: 59px;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
  border-radius: 0 0 10px 10px;
}

.g-login .button-group:before {
  content: "";
  position: absolute;
  top: -11px;
  left: 0px;
  border-width: 10px 20px 0 0;
  border-color: transparent #fff #fff transparent;
  border-style: solid;
}

.g-login .button-group:after {
  content: "";
  position: absolute;
  top: -11px;
  right: 0px;
  border-width: 0 20px 10px 0;
  border-color: transparent transparent #fff #fff;
  border-style: solid;
}

.g-login .button-group .btn-submit {
  float: right;
  margin: 12px 10px;
  padding: 10px 30px;
  color: #fff;
  background-color: #42a5f5;
  border-radius: 5px;
}

.g-changePwd {
  margin: -164px 0 0 -175px;
  position: absolute;
  width: 350px;
  left: 50%;
  top: -175px;
  z-index: 11;
  -webkit-transition: top cubic-bezier(0.4, 0, 0.6, 1) 0.2s;
  transition: top cubic-bezier(0.4, 0, 0.6, 1) 0.2s;
}

.g-changePwd .shade {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000;
  opacity: 0.3;
  z-index: 10;
}

.g-changePwd.active {
  top: 50%;
  -webkit-transition: top cubic-bezier(0, 0, 0.2, 1) 0.2s;
  transition: top cubic-bezier(0, 0, 0.2, 1) 0.2s;
}

.g-changePwd .content {
  position: relative;
  left: 0;
  top: 0;
  z-index: 11;
  background-color: #fff;
  border-radius: 10px;
}

.g-changePwd .content .title {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3px;
  background: url("../images/index/title.png");
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.g-changePwd .content .user,
.g-changePwd .content .oldPwd,
.g-changePwd .content .newPwd,
.g-changePwd .content .rePwd {
  display: block;
  padding-left: 10px;
  margin: 10px auto;
  width: 80%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
}

.g-changePwd .content .button-group {
  background-color: #fff;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}

.g-changePwd .content .button-group .btn-submit,
.g-changePwd .content .button-group .btn-cancel {
  float: right;
  margin: 12px 10px;
  padding: 10px 30px;
  color: #fff;
  background-color: #42a5f5;
  border-radius: 5px;
}

.g-list {
  height: 100%;
  background-color: #eee;
}

.g-list .header-out {
  width: 100%;
  background: #424242;
}

.g-list .header-out .header {
  margin: 0 auto;
  height: 80px;
  width: 1024px;
}

.g-list .dataGrid {
  padding: 0 20px 20px 20px;
  margin: 50px auto 0 auto;
  width: 95%;
  background-color: #fff;
}

.g-list .dataGrid .tip {
  position: relative;
  top: -20px;
  padding: 10px;
  width: 100%;
  height: 84px;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.g-list .dataGrid .list {
  margin: 0 auto;
  width: 98%;
}

.g-list .dataGrid .list th {
  height: 40px;
  vertical-align: middle;
  text-align: left;
  color: #9c27b0;
  font-weight: 100;
}

.g-list .dataGrid .list tbody tr {
  border-bottom: 1px solid #E0E0E0;
  -webkit-transition: background 300ms linear;
  background-color: #fff;
}

.g-list .dataGrid .list tbody tr:hover {
  background-color: #FFB300;
}

.g-list .dataGrid .list tbody tr td {
  padding: 15px 5px;
}

.g-chart {
  height: 100%;
}

.g-chart .g-right {
  padding-left: 280px;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.c-side {
  padding: 15px;
  float: left;
  position: relative;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background-color: #262524;
}

.c-side .header {
  padding: 15px 0;
  border-bottom: 1px solid #ebebeb;
  height: 70px;
}

.c-side .header .name {
  color: #fff;
  font-size: 18px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.c-side .header .name .descript {
  position: relative;
  left: 0;
  top: 0;
}

.c-side .header .name .descript:after {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  padding: 15px;
  background: url("../common/images/logo.png") no-repeat left center;
  background-size: 30px;
}

.c-side .header .changePwd {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #81D4FA;
  cursor: pointer;
}

.c-side .header .changePwd:hover {
  text-decoration: underline;
  color: #42a5f5;
}

.c-side .menu-list li {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #757575;
  border-radius: 5px;
}

.c-side .menu-list li a {
  padding-left: 20px;
  display: block;
  color: #fff;
}

.c-side .menu-list li.active {
  background: #FFB300;
}

.c-header {
  padding: 10px 0;
  height: 84px;
}

.c-header .name {
  float: left;
  padding: 14px 30px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 2px;
}

.c-header .menu {
  margin-right: 20px;
  float: right;
}

.c-header .menu .search-out {
  display: none;
  float: left;
  margin-top: 12px;
  position: relative;
  left: 0;
  top: 0;
  height: 38px;
}

.c-header .menu .search-out:hover:before {
  background-color: #333;
}

.c-header .menu .search-out:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 182px;
  height: 1px;
  background-color: #BDBDBD;
  z-index: 11;
}

.c-header .menu .search-out:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #FFB300;
  z-index: 12;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.c-header .menu .search-out.active:after {
  left: 0px;
  width: 182px;
}

.c-header .menu .search-out .search {
  margin: 0;
  padding: 6px 0 7px;
  border: none;
  font-size: 16px;
  background-color: #eee;
  outline: none;
  width: 182px;
  cursor: pointer;
}

.c-header .menu .search-out .search::-webkit-input-placeholder {
  color: #BDBDBD;
}

.c-header .menu .search-out .btn-search {
  width: 41px;
  height: 41px;
  background: #fff url("../images/charts/search-gray.png") no-repeat center;
  background-size: 13px;
  border-radius: 100%;
}

.c-header .menu .date-out,
.c-header .menu .singleDate {
  display: none;
  margin-left: 10px;
  float: left;
  width: 160px;
  padding: 15px 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.c-header .menu .date-out:hover,
.c-header .menu .singleDate:hover {
  border: 1px solid #42A5F5;
}

.c-header .menu .date-out .date,
.c-header .menu .singleDate .date {
  text-decoration: underline;
}

.c-header .menu .singleDate {
  padding: 21px 5px;
}

.c-header .menu .date-out .start {
  margin-bottom: 10px;
}

.c-content {
  padding-right: 20px;
}

.defaultTable .detail {
  margin-top: 20px;
  min-height: 100px;
  background-color: #fff;
}

.defaultTable .detail .title-out {
  padding: 15px;
  margin: 0 auto;
  position: relative;
  top: -20px;
  left: 0;
  min-height: 84px;
  width: 95%;
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
  border-radius: 5px;
}

.defaultTable .detail .title-out .title {
  margin-bottom: 15px;
  color: #fff;
  font-size: 18px;
}

.defaultTable .detail .title-out .subtitle {
  color: #EEEEEE;
}

.defaultTable .detail .info {
  margin-bottom: 20px;
}

.defaultTable .detail .info th {
  padding: 5px 0;
  color: #ff9800;
  font-weight: 100;
  font-size: 14px;
}

.defaultTable .detail .info tbody > tr {
  border-bottom: 1px solid #E0E0E0;
  -webkit-transition: background 150ms linear;
  background-color: #fff;
}

.defaultTable .detail .info tbody > tr:hover {
  background-color: #FFB300;
}

.defaultTable .detail .info tbody > tr td {
  padding: 15px 5px;
  text-align: center;
  word-break: break-all;
}

.defaultTable .detail .info .pho {
  width: 40px;
  height: 40px;
}

.defaultDescript {
  padding: 0 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
}

.defaultDescript .tip {
  position: relative;
  top: -20px;
  left: 0;
  float: left;
  width: 87px;
  height: 87px;
  background-color: #FFC107;
  border-radius: 5px;
}

.defaultDescript .content {
  padding: 10px 0 0 92px;
}

.defaultDescript .descript {
  padding: 10px 0;
  border-top: 1px solid #eee;
  width: 100%;
  clear: both;
}

.m-pading {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: default;
  min-height: 46px;
}

.m-pading .selectSize {
  float: left;
}

.m-pading .selectNo {
  float: right;
}

.m-pading .count {
  margin-left: 3px;
  padding: 0 3px;
  float: left;
  font-size: 16px;
  min-width: 65px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}

.m-pading .count .pageNo {
  color: #FFB300;
  font-size: 18px;
}

.m-pading .count .total {
  color: #42a5f5;
}

.m-pading .content {
  float: left;
}

.m-pading .content > li {
  margin: 0px 3px;
  padding: 0 5px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.m-pading .content > li[disabled] {
  border-color: rgba(0, 0, 0, 0.12);
  cursor: no-drop;
}

.m-pading .content .page.active {
  background-color: #42a5f5;
  color: #fff;
}

.m-pading .content .home {
  background: #fff url("../common/images/home.png") no-repeat center;
  background-size: 15px;
}

.m-pading .content .prev {
  background: #fff url("../common/images/prev.png") no-repeat center;
  background-size: 22px;
}

.m-pading .content .next {
  background: #fff url("../common/images/next.png") no-repeat center;
  background-size: 22px;
}

.m-pading .content .back {
  background: #fff url("../common/images/back.png") no-repeat center;
  background-size: 15px;
}
