<!-- 商城商品模板 -->
<div class="m-mallList defaultTable">
    <!-- 新增商城商品 -->
    <div class="m-addContent addCurtain">
        <form onsubmit="return false;">
            <div class="title">新增商城商品</div>
            <div class="input-group">
                <div class="group mdui-theme-accent-blue">
                    <div class="tip">类型</div>
                    <div class="descript">
                        <label class="mdui-radio">
                            <input class="operation" type="radio" name="sex" checked value="1"/>
                            <i class="mdui-radio-icon"></i>
                            <span>钻石</span>
                        </label>
                        <label class="mdui-radio">
                            <input class="operation" type="radio" name="sex" value="2"/>
                            <i class="mdui-radio-icon"></i>
                            <span>会员</span>
                        </label>
                    </div>
                </div>
                <div class="group">
                    <div class="tip">钻石数量</div>
                    <div class="descript">
                        <input class="diamonNumber defaultInput" type="text" placeholder="请输入钻石数量">
                    </div>
                </div>
                <div class="group">
                    <div class="tip">赠送钻石</div>
                    <div class="descript">
                        <input class="gitDiamon defaultInput" type="text" placeholder="请输入赠送钻石">
                    </div>
                </div>
                <div class="group">
                    <div class="tip">立减价格</div>
                    <div class="descript">
                        <input class="reducePrice defaultInput" type="text" placeholder="请输入立减价格">
                    </div>
                </div>
                <div class="group">
                    <div class="tip">苹果商品ID</div>
                    <div class="descript">
                        <input class="produceId defaultInput" type="text" placeholder="请输入苹果商品ID">
                    </div>
                </div>
                <div class="group">
                    <div class="tip">价格</div>
                    <div class="descript">
                        <input class="price defaultInput" type="text" placeholder="请输入价格">
                    </div>
                </div>
            </div>
            <div class="button-group">
                <button class="btn btn-submit mdui-ripple mdui-ripple-while">确定</button>
                <button class="btn btn-reset mdui-ripple mdui-ripple-while">重置</button>
            </div>
        </form>
    </div>
    <div class="detail">
        <div class="title-out">
            <div class="title">详情</div>
            <div class="subtitle">Detail</div>
        </div>
        <table class="info" border="0">
        </table>
        <pading count="{{ count }}"></pading>
    </div>
</div>