<!-- 系统公告更新框内容 -->
<div class="group">
    <div class="tip">公告编号</div>
    <div class="descript">
        <input class="nid defaultInput" value="{{ nid }}" disabled>
    </div>
</div>
<div class="group">
    <div class="tip">开始时间</div>
    <div class="descript">
        <input class="startDate defaultInput" value="{{ startDate }}" type="text" readonly placeholder="请点击选择开始时间">
    </div>
</div>
<div class="group">
    <div class="tip">结束时间</div>
    <div class="descript">
        <input class="endDate defaultInput" value="{{ endDate }}" type="text" readonly placeholder="请点击选择结束时间">
    </div>
</div>
<div class="group">
    <div class="tip">发送间隔</div>
    <div class="descript">
        <input old="0" class="inter defaultInput" value="{{ inter }}" type="text" placeholder="请输入发送间隔(s)">
    </div>
</div>
<div class="group">
    <div class="tip">公告内容</div>
    <div class="descript">
        <textarea class="reason" placeholder="请输入公告内容">{{ content }}</textarea>    
    </div>
</div>