<!-- 用户列表详情 -->
<thead>
    <tr>
        <th>创建时间</th>
        <th>编号</th>
        <th>姓名</th>
        <th>登录ip地址</th>
        <th>登录时间</th>
        <th>性别</th>
        <th>年龄</th>
        <th>vip</th>
        <th>头像</th>
        <th>操作</th>
    </tr>
</thead>
<tbody>
    {{ each data as en }}
        <tr>
            <td>{{ formatDate(en.create_time) }}</td>
            <td>{{ en.uid }}</td>
            <td>{{ en.name }}</td>
            <td>{{ en.login_ip }}</td>
            <td>{{ en.login_time }}</td>
            <td>{{ en.sex == "1"?"男":"女" }}</td>
            <td>{{ en.age }}</td>
            <td>{{ en.vip }}</td>
            <td>
                <img class="pho" src="{{ en.head_img }}" />
            </td>
            <td>
                {{ if en.is_frozen }}
                    <button class="btn btn-freeze mdui-ripple mdui-ripple-grey" disabled>冻结</button>
                {{ else }}
                    <button class="btn btn-freeze mdui-ripple mdui-ripple-grey" uid="{{ en.uid }}" uname="{{ en.name }}">冻结</button>
                {{ /if }}
                <button class="btn btn-diamond mdui-ripple mdui-ripple-grey" uid="{{ en.uid }}">赠送</button>
            </td>
        </tr>
    {{ /each }}
</tbody>