<!-- 冻结名单详情 -->
<thead>
    <tr>
        <th>创建时间</th>
        <th>用户编号</th>
        <th>姓名</th>
        <th>冻结开始日期</th>
        <th>冻结截止日期</th>
        <th>操作用户编号</th>
        <th>事由</th>
        <th>操作</th>
    </tr>
</thead>
<tbody>
    {{ each data as en }}
        <tr>
            <td>{{ formatDate(en.create_time) }}</td>
            <td>{{ en.uid }}</td>
            <td>{{ en.name }}</td>
            <td>{{ formatDate(en.start_time) }}</td>
            <td>{{ en.end_time=="0"?"永久":formatDate(en.end_time) }}</td>
            <td>{{ en.operator_uid }}</td>
            <td class="reason">{{ en.reason }}</td>
            <td>
                <button class="btn btn-delFreeze mdui-ripple mdui-ripple-grey" uid="{{ en.uid }}" uname="{{ en.name }}">解冻</button>
                <button class="btn btn-update mdui-ripple mdui-ripple-grey" stime="{{ en.start_time }}" uid="{{ en.uid }}" uname="{{ en.name }}">更新</button>
            </td>
        </tr>
    {{ /each }}
</tbody>