<!-- 消息列表详情 -->
<thead>
    <tr>
        <th>编号</th>
        <th>创建时间</th>
        <th>用户编号</th>
        <th>姓名</th>
        <th>发送时间</th>
        <th>内容</th>
        <th>操作</th>
    </tr>
</thead>
<tbody>
    {{ each data as en }}
        <tr>
            <td>{{ en.id }}</td>
            <td>{{ formatDate(en.create_time) }}</td>
            <td>{{ en.uid == "0"?"全服":en.uid }}</td>
            <td>{{ en.name?en.name:"无" }}</td>
            <td class="mtime">{{ formatDate(en.send_time,1) }}</td>
            <td class="mcontent">{{ en.content }}</td>
            <td>
                <button class="btn btn-delete mdui-ripple mdui-ripple-grey" mid="{{ en.id }}">删除</button>
                <button class="btn btn-update mdui-ripple mdui-ripple-grey" mid="{{ en.id }}" uid="{{ en.uid }}">更新</button>
            </td>
        </tr>
    {{ /each }}
</tbody>