<!-- 付费统计详情 -->
<thead>
    <tr>
        <th>创建时间</th>
        <th>今日订单总额（会员和钻石）</th>
        <th>今日付费用户数量</th>
        <th>今日钻石的购买金额</th>
        <th>累计订单总额（会员和钻石）</th>
        <th>累计付费用户数量</th>
        <th>累计购买钻石的金额</th>
    </tr>
</thead>
<tbody>
    {{ each data as en }}
        <tr>
            <td>{{ formatDate(en.create_time,1) }}</td>
            <td>{{ en.today_cash / 100 }}</td>
            <td>{{ en.today_user }}</td>
            <td>{{ en.today_diamond_cash / 100 }}</td>
            <td>{{ en.total_cash / 100 }}</td>
            <td>{{ en.total_user }}</td>
            <td>{{ en.total_diamond_cash / 100 }}</td>
        </tr>
    {{ /each }}
</tbody>