<!-- 统计用户详情 -->
<thead>
    <tr>
        <th>创建时间</th>
        <th>日活跃</th>
        <th>日注册人数</th>
        <th>月活跃</th>
        <th>七日</th>
        <th>三日</th>
        <th>两日</th>
        <th>总注册人数</th>
    </tr>
</thead>
<tbody>
    {{ each data as en }}
        <tr>
            <td>{{ formatDate(en.create_time) }}</td>
            <td>{{ en.dau }}</td>
            <td>{{ en.day_register }}</td>
            <td>{{ en.mau }}</td>
            <td>{{ en.seven_day }}</td>
            <td>{{ en.three_day }}</td>
            <td>{{ en.two_day }}</td>
            <td>{{ en.total_register }}</td>
        </tr>
    {{ /each }}
</tbody>